body { 
    margin: 0 auto;
    background-color: pink;
    text-align: center;
}
.maingrid {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(5, 1fr);
                height: 100vh;
                gap: 0px;
                border: 2px solid black;
                padding: 20px;
                align-content: center;
                border-radius: 25px;
}

.loona {
                grid-row: 1/2;
                grid-column: 1/6;
                background-color: gold;
                border: 2px solid black;
                justify-content: flex-start;
            }
.artms {
                grid-row: 2/5;
                grid-column: 1/2;
                background-color: lightblue;
                border: 2px solid black;
            }
.loossemble {
                grid-row: 2/5;
                grid-column: 2/5;
                background-color: coral;
                border: 2px solid black;
}
.yves {
                grid-row: 2/5;
                grid-column: 5/6;
                background-color: maroon;
                border: 2px solid black;
}
.chuu {
                grid-row: 5/6;
                grid-column: 1/6;
                background-color: peachpuff;
                border: 2px solid black;
                justify-content: flex-end;
}
