div {
  border: 2px solid black;
}
body {
  background-color: darkblue;
}
p {
  font-size: 60px;
  color: lightblue;
  text-align: center;
}
a {
  font-size: 40px;
  color: lightpink;
  text-align: center;
}
#star1 {
  width: 300px;  
  aspect-ratio: 1;
  background: lightgreen;
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
  position: absolute;
  left: 20px;
}
#star2 {
  width: 300px;  
  aspect-ratio: 1;
  background: lightpink;
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
  position: relative;
  left: 80px;
  top: 80px;
}
#star3 {
  width: 300px;  
  aspect-ratio: 1;
  background: lightblue;
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
  position: relative;
  left: 120px;
  top: 80px;
}

