div {
  border: 2px solid pink;
  margin-bottom: 20px;
  padding: 20px;
}
#kpop {
  color: purple;
  font-size: 32px;
}
.highlight {
  background-color: lightpink;
  color: magenta;
  padding: 10px;
}
body {
  background-color: lightgreen;
  font-family: Helvetica, sans-serif;
}
h1 { 
  color: darkgreen;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2 {
  color: darkblue;
  text-align: center;
}
p {
  font-size: 20px;
  color: magenta;
  text-align: center;
}
a {
  color: lightpink;
}
img {
  display: block;
  margin: auto;
  height: 400px;
  border: 3px solid white;
  
}
li {
  color: magenta;
  margin: 10px;
  text-align: center;
}
button {
  display: block;
  margin: auto;
  font-size: xx-large;
  text-align: center;
 }
label {
  font-size: xx-large;
}
